<div class="row">

    <div class="col-md-12">
        <h1>Question 3</h1> 
        <p><?=$question?></p>
        <hr>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <p><b>Answer : </b><?=$answer_var?></p>
        <p><?=$answer?></p>
    </div>

</div>