<div class="jumbotron">
    <h1><span class="zf-green" style="color:#ee2424">SCG</span> Test</h1>

</div>

<div class="row">

    <div class="col-md-12">
        <a href="/test/first" target="_blank">Question 1</a><br>
        <a href="/test/second" target="_blank">Question 2</a><br>
        <a href="/test/third" target="_blank">Question 3</a>
    </div>
    

    
</div>
